<!-- #region scroll -->
<div>
  <div class="icon-scroll-back">
    <a href="/index.html" aria-label="На головну" title="На головну">
      <span class="swim-scroll">
        <svg class="icon-scroll-svg" width="16" height="16">
          <use href="/public/sprite.svg#arrow-scroll-down"></use>
        </svg>
      </span>
    </a>
  </div>

  <div class="icon-scroll-up">
    <a href="#top" aria-label="До початку сторінки" title="На початок сторінки">
      <span class="swim-scroll">
        <svg class="icon-scroll-svg" width="16" height="16">
          <use href="/public/sprite.svg#arrow-scroll-down"></use>
        </svg>
      </span>
    </a>
  </div>

  <div class="icon-scroll-down">
    <a href="#footer" aria-label="В кінець сторінки" title="В кінець сторінки">
      <span class="swim-scroll">
        <svg class="icon-scroll-svg" width="16" height="16">
          <use href="/public/sprite.svg#arrow-scroll-down"></use>
        </svg>
      </span>
    </a>
  </div>
</div>
<!-- endregion scroll -->
