<footer class="footer container">
  <div class="footer-top">
    <address class="footer-left">
      <p>Email: <a href="mailto:right2000500@gmail.com">&nbsp;right2000500@gmail.com</a></p>
      <p>GitHub: <a href="https://github.com/R220V" target="_blank" rel="noopener noreferrer">&nbsp;R220V</a></p>
    </address>

    <a href="#top">
      <img class="logo" src="img/krus-logo.png" height="30" width="70" alt="logo krus" />
    </a>
    <div class="footer-right">
      <p>Made with ✨ by &nbsp;<span id="author-name">Я</span></p>
    </div>
  </div>

  <p class="copy">© 2025 MyApp. Всі права захищені.</p>
</footer>
