<header class="header" id="top">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="80" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr1}" href="./page-1.html">Page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr2}" href="./page-2.html">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr3}" href="./page-3.html">Page 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr4}" href="./page-4.html">Page 4</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
