
/* #region footer  */
 .footer {
  position: relative;
  margin: 6px auto;
  max-width: 766px;
  width: 100%;
  padding: 6px;
  box-shadow: inset 0 0 7px rgb(0, 255, 255);
  border-radius: 4px;
}

.footer-right {
  text-align: right;
  display: none;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 900px;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;

}
.footer-left p,
.footer-right p {
  display: flex;
  justify-content: center;
  line-height: 1.5; 
  margin-top: 7px;
  }
.footer .copy {
  text-align: center;
  font-size: 0.9rem;
  margin: 5px;
  color: #7a7a7aff;; 
} 

/* #region  logo */
.logo {
  position: absolute;
  bottom: 38px;
  left: -17px;
  padding: 4px 6px;
  transform: rotate(270deg) scale(0.8);
  cursor: pointer;
  border: 1px solid rgba(190, 190, 190, 1);
  box-shadow:
    0 0 5px 2px #000000ff,
    inset 0 0 18px #63636386;
  border-radius: 4px;
  transition: ease 350ms;
  z-index: 6;
}
.logo:hover {
  outline: 1px solid rgba(216, 216, 216, 1);
}

/* .footer-right {
  text-align: right;
  display: none;
} */
/* #endregion  logo */
/* .footerok {
  background: var(--card-alt);
  border-top: 1px solid var(--stroke);
  width: 100%;

  box-shadow: inset 0 0 10px var(--text);
}

.footerok p {
  text-align: center;
  color: var(--accent);
  padding: 30px;
  letter-spacing: 2px;
}

.footer a {
  color: var(--text);
  font-weight: 400;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: var(--text);
}

/* #endregion footer */



