body{
  background-color:  #20192bff;
  width: 100%;
  max-width: 766px;
}
.main-title-gradientos {
  /* display: block; */
  font-size: 0.27em;
	font-weight: 900;
  max-width: 1000px;
  margin: 20px auto;
  margin: 20px auto;
    width: 100%;
  background-image: 
  linear-gradient(160deg, #1d86ffa9 25%, #fffb0e93),
  url('../img/bg/raptor.png');
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: transparent;/*робить сам текст прозорим*/
  -webkit-background-clip: text;
  background-clip: text; /*Обрізає фон по формі тексту*/
}